@page "/editimage"
@page "/editimage/{ImageId}"

<h1 id="title"> Editing Image </h1>

<div class="container">



    @if (image != null)
    {
        var imgUrl = "data:image;base64," + image.Data;
        var imgName = image.Name;
        var imgDate = image.Date;
        var imgDescription = image.Description;
        var imgData = image.Data;
        var imgAlbumId = image.AlbumId;
        var imgId = image.Id;

        <div class="picture col-md-7 col-lg-6">
            <img class="object-fit-cover" src="@imgUrl" alt="pic" /> <!-- tutaj wstaw model i zdjecie z modelu-->
        </div>

        <div class="editing col-md-7 col-lg-6">
            Name:<label>"@imgName"</label><br />
            Description: <label>@imgDescription</label><br />
            Data: <label>@imgDate</label><br />
            Tags: <label>"no nie ma jeszcze"</label><br />
            New name: <br />
            <input @bind=@nName><br />
            New description: <br />
            <input @bind="nDescription"><br />
            New tags: <br />
            <input @bind="ntagsString"><br />
            <button class="btn btn-primary" @onclick="(() => update(image.Id, nName, image.Date, nDescription, image.Data, image.AlbumId, ntagsString))">
                Save
            </button>
        </div>
    }

</div>
