@page "/editimage/{ImageId:int}"
@attribute [Authorize]

<section class="section-content padding-y bg">
    <div class="container">

        <div class="row">

            <main class="col-md-9">

                <article class="card mb-3">
                    <div class="card-body">

                        <h4 class="card-title mb-4">Edit image</h4>
                        <br />
                        <div class="h-75">
                            <div class="col-12 col-lg-6 card mb-3 mx-auto">
                                <img class="card-img-top h-100" src="@("data:image;base64," + image.Data)" alt="@image.Name">
                            </div>
                        </div>
                        <br /><br />
                        <EditForm Model="image" OnValidSubmit="SubmitChangesAsync">

                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="image.Name" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Date</label>
                                <div class="col-sm-6">
                                    <InputDate @bind-Value="_date" type="date" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="image.Description" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Hashtags</label>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="_tags" type="text" class="form-control" />
                                </div>
                            </div>
                            <div align="right">
                                <button class="btn btn-primary"> Save changes </button>
                            </div>
                        </EditForm>
                        @if (Success)
                        {
                            <hr />
                            <div align="center">
                                <span class="text-success">Changes saved.</span>
                            </div>
                        }
                        else if(Errors.Any())
                        {
                            <hr />
                            <div align="center">
                                <span class="text-danger">@string.Join("\n", Errors)</span>
                            </div>
                        }
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>