.pic {
    border-style: solid;
    border-width: thin;
    border-color: black;
    padding-bottom: 40px;
}

.buttons {
    margin: auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    min-width: 100%;
    height: auto;
    margin-bottom: 2px;
}
