@page "/images"
@page "/images/{AlbumId}"

<div class="container">

    <div id="filter">
        <div class="row">
            <div class="col-md-5 mt-1">
                <input type="text" class="form-control" placeholder="Find your awesome picture!">
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="d-md-flex flex-md-row">
            <div class="col-md-2 d-flex">
                <select class="btn btn-light m-1 flex-fill">
                    <option selected>none</option>
                    <option value=1>name</option>
                    <option value=2>date</option>
                </select>
            </div>
            <div class="col-md-2 d-flex">
                <select id="sortType" class="btn btn-light m-1 flex-fill">
                    <option value=1>ascending</option>
                    <option value=2>descending</option>
                </select>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <div class="d-flex flex-wrap">
        @if (images != null)
        {
            foreach (var image in images)
            {
                var imgUrl = "data:image;base64," + image.Data;

                <div class="col-lg-3 mb-1">
                    <a href="" style="text-decoration:none" class="text-black-50">
                        <div class="col-12">
                            <picture>
                                <img src="@imgUrl" class="rounded img-fluid img-thumbnail" style="width:100%">
                            </picture>
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <p>There is nothing to display...</p>
        }
        @*@for (int i = 0; i < 30; i++)
        {
            <div class="col-lg-3 mb-1">
                <a href="" style="text-decoration:none" class="text-black-50">
                    <div class="col-12">
                        <picture>
                            <img src=@getPicture() class="rounded img-fluid img-thumbnail" style="width:100%">
                        </picture>
                    </div>
                </a>
            </div>
        }*@
    </div>
</div>