@inherits LayoutComponentBase
@layout Layout
@inject NavigationManager NavigationManager
@*@page "/authentication"*@


@*<div class="row">*@
    <div class="col-md-6 mx-auto">
        <div class="card login-logout-tab">
            <div class="card-header text-center">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item col-6">
                        <a class="nav-link @SignInTabClass" @ref="signInTab" @onclick="@( () => SetActiveTab(@signInTab) )" href="/login">
                            Sign In
                        </a>
                    </li>
                    <li class="nav-item col-6">
                        <a class="nav-link @SignUpTabClass" @ref="signUpTab" @onclick="@( () => SetActiveTab(@signUpTab) )" href="/register">
                            Sign Up
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </div>
@*</div>*@

@code {

    private ElementReference signInTab;
    private ElementReference signUpTab;

    private string SignInTabClass;
    private string SignUpTabClass;

    private string currentLocation;

    protected override void OnInitialized()
    {
        currentLocation = NavigationManager.Uri;
        ChangeTabsStates(currentLocation);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        NavigationManager.LocationChanged += (obj, lcea) =>
        {
            currentLocation = lcea.Location;

            ChangeTabsStates(currentLocation);
            ShouldRender();
        };
    }

    private void SetActiveTab(ElementReference element)
    {
        if (element.Equals(signInTab))
        {
            SignInTabClass = "active";
            SignUpTabClass = null;
        }
        else if (element.Equals(signUpTab))
        {
            SignInTabClass = null;
            SignUpTabClass = "active";
        }
    }

    private void ChangeTabsStates(string currentLocation)
    {
        if (currentLocation.Contains("/login"))
        {
            SignInTabClass = "active";
            SignUpTabClass = null;
        }
        else if (currentLocation.Contains("/register"))
        {
            SignInTabClass = null;
            SignUpTabClass = "active";
        }
    }

}
