@inherits LayoutComponentBase
@layout Layout
@inject NavigationManager NavigationManager
@*@page "/authentication"*@


@*<div class="row">*@
    <div class="col-sm-12 col-lg-6 mx-auto">
        <div class="card login-logout-tab">
            <div class="card-header text-center">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item col-6">
                        <a class="nav-link @SignInTabClass" @ref="signInTab" @onclick="@( () => SetActiveTab(@signInTab) )" href="/login">
                            Sign In
                        </a>
                    </li>
                    <li class="nav-item col-6">
                        <a class="nav-link @SignUpTabClass" @ref="signUpTab" @onclick="@( () => SetActiveTab(@signUpTab) )" href="/register">
                            Sign Up
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </div>
@*</div>*@