<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center text-white d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle">
        @*<i class="bi bi-three-dots-vertical"></i>*@
        <i class="bi bi-arrow-left-right"></i>
    </button>
</div>