
<ul class="navbar-nav ml-auto">

    <!-- Nav Item - Register or Login Information -->
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Register on Login</span>
            <i class="bi bi-layers"></i>
        </a>
        <!-- Dropdown - Register or Login Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="userDropdown">
            <NavLink class="dropdown-item" href="/login" @onclick="@( () => HandleNavigation("login") )" data-toggle="modal">
                Sign In
            </NavLink>
            <div class="dropdown-divider"></div>
            <NavLink class="dropdown-item" href="/register" @onclick="@( () => HandleNavigation("register") )" data-toggle="modal">
                Sign Up
            </NavLink>
        </div>
    </li>
</ul>
