@page "/"
@using SmartCollection.Models.ViewModels.ImagesViewModel
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient Http
@inject ILocalStorageService LocalStorage

<AuthorizeView>
    <NotAuthorized>
        <h4 class="display-4">Hello there!</h4>
        <p><NavLink href="/login">Login</NavLink> or <NavLink href="/register">Register</NavLink> to use your SmartCollection!</p>
    </NotAuthorized>
    <Authorized>
        <h4 class="display-4">Hello again!</h4>
        <p>Below is example of database connection.</p>

            @if (model != null)
            {
                <br />
                <div class="col">
                    <p>@model.FirstOrDefault().Name</p>
                    <p>@model.FirstOrDefault().Description</p>
                    <p>@model.FirstOrDefault().Date</p>
                </div>
            }
    </Authorized>
</AuthorizeView>

@code {

    List<SingleImageViewModel> model;

    protected override async Task OnInitializedAsync()
    {
        var token = await LocalStorage.GetItemAsync<string>("authToken");
        if (!string.IsNullOrEmpty(token))
        {
            var data = await Http.GetFromJsonAsync<ImagesViewModel>("images");
            model = data.Images.ToList();
        }

    }

}
