@page "/"
@using SmartCollection.Models.ViewModels.ImagesViewModel
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient Http
<AuthorizeView>
    <Authorized>
        <p>Yo man</p>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, world!</h1>

        @if (model != null)
        {
            <br />
            <div class="col">
                <p>@model.FirstOrDefault().Name</p>
                <p>@model.FirstOrDefault().Description</p>
                <p>@model.FirstOrDefault().Date</p>
            </div>
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    List<SingleImageViewModel> model;
    protected override async Task OnInitializedAsync()
    {
        var data = await Http.GetFromJsonAsync<ImagesViewModel>("images");
        model = data.Images.ToList();
    }

}
