@page "/"
@using SmartCollection.Models.ViewModels.ImagesViewModel

<AuthorizeView>
    <NotAuthorized>
        <h4 class="display-4">Hello there!</h4>
        <p><NavLink href="/login">Login</NavLink> or <NavLink href="/register">Register</NavLink> to use your SmartCollection!</p>
    </NotAuthorized>
    <Authorized>
        <h4 class="display-4">Hello again!</h4>
        <p>Below is example of database connection.</p>
    </Authorized>
</AuthorizeView>
