
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="bi bi-camera"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Smart Collection</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <NavLink class="nav-link" href="/">
            <span>Dashboard</span>
        </NavLink>
    </li>

    <li class="nav-item active">
        <NavLink class="nav-link" href="/login">
            <span>Login</span>
        </NavLink>
    </li>
    <li class="nav-item active">
        <NavLink class="nav-link" href="/register">
            <span>Register</span>
        </NavLink>
    </li>
    <li class="nav-item active">
        <NavLink class="nav-link" href="/album">
            <span>Albums</span>
        </NavLink>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Section
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <span>Anything</span>
            <i class="bi bi-chevron-compact-right"></i>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="#">Buttons</a>
                <a class="collapse-item" href="#">Cards</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <span class="col col-md-12 text-left">
                Pages
                <i class="bi bi-chevron-compact-right"></i>
            </span>

        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Link -->
    <li class="nav-item">
        <NavLink class="nav-link" href="#">
            <i class="bi bi-link-45deg"></i>
            <span>Linkacz 1</span>
        </NavLink>
    </li>

    <!-- Nav Item - Link -->
    <li class="nav-item">
        <NavLink class="nav-link" href="#">
            <i class="bi bi-link-45deg"></i>
            <span>Linkacz 2</span>
        </NavLink>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center text-white d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle">
            <i class="bi bi-three-dots-vertical"></i>
        </button>
    </div>

</ul>

@code {

}
